<configuration>
  <location path="public" inheritInChildApplications="false">
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension=".webp" mimeType="image/webp" />
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>