<div class="card mb-3" id="card-tappe">
  <div id="card-tappa-image"></div>
  <div class="card-body">
    <div id="card-tappa-information"></div>
    <br />
    <div
      class="btn-group btn-group-sm"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        data-bs-toggle="modal"
        data-bs-target="#programma"
      />
      <label class="btn btn-outline-primary" for="btnradio1">Programma</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
        data-bs-toggle="modal"
        data-bs-target="#percorso"
      />
      <label class="btn btn-outline-primary" for="btnradio2">Percorso</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio3"
        autocomplete="off"
        data-bs-toggle="modal"
        data-bs-target="#regolamento"
      />
      <label class="btn btn-outline-primary" for="btnradio3">Regolamento</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio4"
        autocomplete="off"
        data-bs-toggle="modal"
        data-bs-target="#classifica"
      />
      <label class="btn btn-outline-primary" for="btnradio4">Classifiche</label>
    </div>
    <div id="modal-programma"></div>
    <div id="modal-percorso"></div>
    <div id="modal-regolamento"></div>
    <div id="modal-classifica"></div>
  </div>
</div>
