<!---Carousel-->
<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="3000"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class=""
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
      class=""
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
      class="active"
      aria-current="true"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
      class="active"
      aria-current="true"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="4"
      aria-label="Slide 5"
      class="active"
      aria-current="true"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="5"
      aria-label="Slide 6"
      class="active"
      aria-current="true"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="6"
      aria-label="Slide 7"
      class="active"
      aria-current="true"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="7"
      aria-label="Slide 8"
      class="active"
      aria-current="true"
    ></button>
  </div>
  <div class="carousel-inner rounded">
    <div class="carousel-item" id="test">
      <div class="carousel-background">
        <a href="tappe.html">
          <img src="public/images/logos/rovetta.jpg" />
        </a>
      </div>
      <div class="carousel-caption">
        <h5>Rovetta</h5>
        <h6>5 Luglio</h6>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-background">
        <a href="tappe.html"> <img src="public/images/logos/vertova.png" /></a>
      </div>
      <div class="carousel-caption">
        <h5>Vertova</h5>
        <h6>12 Luglio</h6>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="carousel-background">
        <a href="tappe.html">
          <img src="public/images/logos/clusone.jpg" />
        </a>
      </div>
      <div class="carousel-caption">
        <h5>Clusone</h5>
        <h6>19 Luglio</h6>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-background">
        <a href="tappe.html">
          <img src="public/images/logos/gromo.png" />
        </a>
      </div>
      <div class="carousel-caption">
        <h5>Gromo</h5>
        <h6>26 Luglio</h6>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-background">
        <a href="tappe.html">
          <img src="" alt="Aspettando il logo..." />
        </a>
      </div>
      <div class="carousel-caption">
        <h5>Albino</h5>
        <h6>28 Luglio</h6>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-background">
        <a href="tappe.html">
          <img src="public/images/logos/ardesio.jpg" />
        </a>
      </div>
      <div class="carousel-caption">
        <h5>Ardesio</h5>
        <h6>9 Agosto</h6>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-background">
        <a href="tappe.html">
          <img src="public/images/logos/parre.jpg" />
        </a>
      </div>
      <div class="carousel-caption">
        <h5>Parre</h5>
        <h6>17 Agosto</h6>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-background">
        <a href="tappe.html"> <img src="public/images/logos/cerete.png" /></a>
      </div>
      <div class="carousel-caption">
        <h5>Cerete</h5>
        <h6>24 Agosto</h6>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
