<nav class="fixed-top" id="navbar">
  <header
    class="py-3 align-items-center justify-content-center justify-content-md-between border-bottom navbar-corri-nei-borghi"
  >
    <ul
      class="nav nav-underline col-12 col-md-auto mb-2 justify-content-center mb-md-0"
    >
      <li class="nav-item d-flex justify-content-center align-items-center">
        <a
          href="index.html"
          class="nav-link"
          aria-current="page"
          id="home-nav-link"
          ><b>Home</b></a
        >
      </li>
      <li class="nav-item d-flex justify-content-center align-items-center">
        <a href="regolamenti.html" class="nav-link" id="regolamenti-nav-link"
          ><b>Regolamenti</b></a
        >
      </li>
      <li class="nav-item d-flex justify-content-center align-items-center">
        <a href="classifiche.html" class="nav-link" id="classifiche-nav-link"
          ><b>Classifiche</b></a
        >
      </li>
      <div class="text-center">
        <a
          href="index.html"
          class="d-inline-flex link-body-emphasis text-decoration-none justify-content-center"
        >
          <img
            class="logo-small"
            src="public/images/logos/corri_nei_borghi.png"
            alt="Logo"
          />
        </a>
      </div>
      <li class="nav-item d-flex justify-content-center align-items-center">
        <a href="media.html" class="nav-link" id="media-nav-link"
          ><b>Media</b></a
        >
      </li>
      <li class="nav-item d-flex justify-content-center align-items-center">
        <a href="tappe.html" class="nav-link" id="tappe-nav-link"
          ><b>Tappe</b></a
        >
      </li>
      <li class="nav-item d-flex justify-content-center align-items-center">
        <a href="contatti.html" class="nav-link" id="contatti-nav-link"
          ><b>Contatti</b></a
        >
      </li>
    </ul>
  </header>
</nav>
