<div class="accordion" id="news-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button main"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true"
        aria-controls="panelsStayOpen-collapseOne"
      >
        News e comunicazioni
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          id="news-count"
        >
          99+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseOne"
      class="accordion-collapse collapse show"
    >
      <div class="accordion-body">
        <div class="accordion accordion-flush" id="news-accordion-flush"></div>
      </div>
    </div>
  </div>
</div>
