<nav class="navbar fixed-top navbar-corri-nei-borghi">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html"
      ><img
        class="logo-small"
        src="public/images/logos/corri_nei_borghi.png"
        alt="Logo"
      /><strong style="color: #ef8a16; font-weight: bold"
        >Corri nei Borghi</strong
      ></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <strong style="color: #883939; font-weight: bold"
            >Corri nei Borghi</strong
          >
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="regolamenti.html">Regolamenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="classifiche.html">Classifiche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="media.html">Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tappe.html">Tappe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contatti.html">Contatti</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
