<div class="container" id="sponsor">
  <div class="container col-xxl-10 px-3 pt-3 py-3">
    <div class="row flex-lg-row align-items-center g-5 py-3">
      <div class="partner col-lg-6">
        <h3 style="text-align: center">Main Partner</h3>
        <img
          src="public/images/sponsor/eurozeta.jpg"
          class="img-fluid"
          alt="Main Partner Logo"
        />
      </div>
      <div class="sponsor col-lg-6 align-items-center">
        <img
          src="public/images/sponsor/sponsors_tile.png"
          class="img-fluid"
          alt="Sponsorship Image"
        />
      </div>
    </div>
  </div>
  <div class="banner-comuni">
    <img
      src="public/images/banner_comuni.png"
      class="img-fluid"
      alt="Comuni Image"
    />
  </div>
</div>
